
body{
	font-family: 'Pontano Sans', sans-serif;
	color: rgba(0,0,0,0.7);
	margin: 0px;
	line-height: 1.3;
}

h1{
	font-family: 'Droid Serif', serif;
}

h4{
	font-size: 19px;
}

a{
	color: rgba(240, 78, 69, 0.62);
	text-decoration: none;
}

header {
	top: 0px;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	background: rgba(250,250,250,.9);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

#logo, #right-nav, #right-nav a {
	display: inline-block;
}

#logo{
	margin: 0px;
	margin-left: 35px;
	color: rgba(0,0,0,0.7);
	font-family: 'Droid Serif', serif;
}

#right-nav{
	float: right;
	margin-right: 35px;
}

#logo, #right-nav, #right-nav a {
	display: inline-block;
}

#right-nav a {
	text-decoration: none;
	color: rgba(0,0,0,0.44);
	border: 1px solid rgba(0,0,0,0.44);
	height: 38px;
	padding: 0 16px;
	border-radius: 990em;
	margin-left: 10px;
}

#right-nav a:nth-child(2){
	border: 1px solid rgba(240, 78, 69, 0.62);
	color: rgba(240, 78, 69, 0.62);
}

#right-nav h3 {
	font-size: 14px;
	vertical-align: middle;
	margin: 10px 0px;
}

.header-clearing{
	margin-top: 58px;
}

#notices{
	color: rgba(240, 78, 69, 0.62);
	width: 100%;
	background: rgba(250,250,250,.6);
	position: absolute;
	text-align: center;
}

.get-started{
	background-color: rgba(240, 78, 69, 0.62);
	color: white;
	text-align: center;
	width: 250px;
	padding: 10px 20px;
	border-radius: 999em;
	margin: 50px auto;
}

#banner-section{
	text-align: center;
	padding: 40px 0px 10px;
}

#banner-section img{
	width: 150px;
	border-radius: 50%;
	border: 1px solid beige;
}

#banner-section h1{
	text-align: center;
	margin: 0px;
	font-weight: bolder;
	font-family: 'Droid Serif', serif;
}

#banner-section h4 {
	margin: 5px;
	color: rgba(0,0,0,.44);
	font-size: 19px;
}


.body-container{
	max-width: 650px;
	margin: 0 auto;
}

#featured-blog-entry{
	padding-top: 16px;
}

#featured-blog-entry h1{
	color: rgba(0,0,0,0.7);
}

#featured-blog-entry h5, #latest-posts h5 {
	padding: 3px 5px;
	border: 1px solid rgba(0,0,0,0.7);
	width: 150px;
	margin: 20px auto;
	text-align: center;
}

#featured-blog-entry img{
	display: block;
	width: 100%;
	max-height: 400px;
	overflow-y: hidden;
	border-radius: 3px;
}

#featured-blog-entry h1 {
	margin: 20px 0px 5px;
}


#featured-blog-entry h3{
	margin: 10px 0px;
}

#featured-blog-entry .blog-details img, .blog-details img{
	width: 45px;
	height: 45px;
	border-radius: 8px;
	display: inline-block;
	margin-right: 5px;
}

#author-section img {
	width: 60px;
	display: inline-block;
	border-radius: 50%;
}

#author-section p{
	display: inline-block;
	margin: 0px;
	margin-left: 10px;
	padding-top: 20px;
	vertical-align: top;
	font-weight: bold;
}

.blog-details p{
	display: inline-block;
	margin: 3px;
	vertical-align: top;
}

#latest-posts{
	margin-top: 50px;
}

.post-item{
	padding: 25px 0px;
	display: inline-block;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.post-item .left-section {
	display: inline-block;
	width: 75%;
	float: left;
}

.post-item .left-section h3, .post-item h3{
	margin: 0px;
	font-family: 'Droid Serif', serif;
	color: rgba(0,0,0,0.7);
}

.post-item .right-section{
	width: 20%;
	display: inline-block;
	float: right;
	text-align: center;
}

.post-item .right-section img{
	max-width: 100%;
	width: 120px;
	margin-top: 15px;
	border-radius: 3px;
}

#view-more{
	padding: 5px 10px;
	border: 1px solid rgba(240, 78, 69, 0.62);
	border-radius: 990ex;
	margin-top: 15px;
	display: block;
	width: 100px;
	text-align: center;
}

#blog-post header{
	text-align: center;
	margin-bottom: 10px;
}

#blog-post #logo{
	position: absolute;
	left: 15px;
	margin: 0px;
}

#blog-post #center{
	max-width: 150px;
	display: inline-block;
	float: center;
}

#blog-post #center p{
	margin: 0px;
	font-size: 14px;
}

#blog-post #center h4{
	margin: 0px 0px;
	font-size: 16px;
}

#blog-post #right-nav{
	position: absolute;
	right: 15px;
	top: 10px;
}

#header-image img{
	width: 100%;
	max-height: 400px;
}
#header-image p{
	text-align: center;
	padding: 0px 10%;
	margin: 5px auto;
}

#next-post {
	padding: 20px 0px;
	margin-top: 20px;
	background-color: ghostwhite;
}

#next-post h4{
	border-bottom: 1px solid rgba(0,0,0,.3);
	margin: 0px;
	padding-bottom: 5px;
	font-size: 16px;
}

#next-post .post-item{
	border-bottom: none;
	padding-bottom: 0px;
}


footer{
	padding: 20px 0px;
	background-color: rgb(44, 44, 44);
}

footer a{
	color: rgba(44,44,44,.8);
	text-align: center;
	display: block;
	background-color: lightcoral;
	width: 150px;
	margin: 0 auto 10px;
	padding: 10px 0px;
	border-radius: 999em;
}

/*tablet size */
@media (max-width: 767px){
	.body-container{width: 90%;}
}


/* Mobile size - iPhone 6 normal size & smaller*/
@media (max-width: 680px){

	#right-nav a:last-child{
		display: none;
	}
	.post-item .left-section {
		width: 100%;
	}

	.post-item .right-section{
		display: none;
	} 

	#blog-post header{
		height: 35px;
	}
	#blog-post header #center{
		display: none;
	}

}
